
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*
{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    width:100vw;
    height:100vh;
    background-image: linear-gradient(to right,#ffafbd , #ffc3a0);
    color:#5F4B8BFF;
    margin:0;
    padding:0;
    display:flex;
    padding:5rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
}
div
{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
}
button{
    padding: 0.8rem 1.8rem;
    background-color: #9f68e0;
    color: white;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 2px rgb(0 0 0 / 20%);
    cursor: pointer;
}
input{
    background-color: transparent;
    border: none;
    width:20rem;
    border-bottom: 2px solid white;
    padding: 10px;
    margin:5rem;
    padding-left: 0;
    color: #5F4B8BFF;
}
@media (max-width:45rem)
{
    input
    {
        margin:2rem;
    }
    div
    {
        justify-content: center;
    }
}